<div class="row">
    <div class="col-md-6 offset-3 alert alert-danger text-center">
        <h2>Nie masz dostępu do tej strony</h2>
        <p>Prosze kliknij przycisk poniżej aby wrócić do strony startowej.</p>
        <hr />
        <p>
            <a asp-controller="Movies" asp-action="Index" class="btn btn-outline-success">Home Page</a>
        </p>
    </div>
</div>