<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h2>Złożono zamówienie</h2>
        <p>Możesz sprawdzić swoje zamówienie na profilu</p>
        <hr />
        <p>Dziękuje za zakup!</p>
    </div>
</div>